{% extends 'baseAccueil.html.twig' %}

{% block title %}Arret{% endblock %}

{% block body %}

<main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Decret: Arret</h3>

            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="{{asset('assets/decret.png')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>DECRET N° 2001-027</span></div>
                <h3><a href="single-post.html">Decret</a></h3>
                <p> Portant refonte du décret 96.773 du 03 septembre 1996 relatif 
                    aux normes régissant les entreprises, établissements et 
                    opérateurs touristiques ainsi que leurs modalités d’application</p>
                <div class="d-flex align-items-center author">
                  <div class="photo">
                    <p> Portant refonte du décret 96.773 du 03 septembre 1996 relatif 
                      aux normes régissant les entreprises, établissements et 
                      opérateurs touristiques ainsi que leurs modalités d’application</p>
                  </div>
                  <div class="name">
                    <h3 class="m-0 p-0">Avis Prealable</h3>
                  </div>
                </div>
              </div>
            </div>                 
            
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->

          
          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock %}