{% extends 'baseAccueil.html.twig' %}

{% block title %}Arret{% endblock %}

{% block body %}

<main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Decret: Arret</h3>

           
        <p><strong>REPOBLIKAN’I MADAGASIKARA</strong><br>
        Tanindrazana - Fahafahana - Fandrosoana<br>
        ----------------------<br>
        MINISTERE DU TOURISME<br>
        ----------------------<br>
        <strong>DECRET N° 2001-027</strong><br>
        Portant refonte du décret 96.773 du 03 septembre 1996 relatif aux normes régissant les entreprises, établissements et opérateurs touristiques ainsi que leurs modalités d’application.
        </p>
        <p><strong>LE PREMIER MINISTRE, CHEF DU GOUVERNEMENT,</strong><br>
        Vu la Constitution,<br>
        Vu la Loi n°95-017 du 25 août 1995 portant Code du Tourisme,<br>
        Vu la Loi n°90-003 du 21 décembre 1990 portant Charte de l’Environnement Malagasy,<br>
        Vu le décret n°96-773 du 03 septembre 1996 relatif aux normes régissant les entreprises, établissements et opérateurs touristiques ainsi que leurs modalités d’application,<br>
        Vu l’ordonnance n°62-072 du 29 septembre 1962 portant codification des textes législatifs concernant la Santé Publique,<br>
        Vu le décret n°63-192 du 27 mars 1968 portant Code de l’Urbanisme,<br>
        Vu le décret n°98-522 du 23 juillet 1998 portant nomination du Premier Ministre, Chef du Gouvernement,<br>
        Vu le décret n°98-530 du 31 juillet 1998 portant nomination des membres du Gouvernement,<br>
        Vu le décret n°97.219 du 27 Mars 1997 fixant les attributions du Ministre du Tourisme ainsi que l’organisation générale de son Ministère.
        </p>
        <p><strong>Sur proposition du Ministre du Tourisme,<br>
        En Conseil du Gouvernement<br>
        D E C R E T E :</strong><br>
        Article premier : Les dispositions du présent décret fixent les modalités d’application de la Loi n°95.017 du 25 Août 1995 portant Code du Tourisme, et s’appliquent aux personnes physiques ou morales qui se livrent aux activités lucratives se rapportant :<br>
        - à la conception et/ou à l’organisation et/ou à la vente de voyages et de séjours soit à l’intérieur, soit en dehors du territoire de Madagascar ;<br>
        - à l’hébergement et/ou à la restauration ;<br>
        - à l’écotourisme qui est une forme de voyages, à destination des sites naturels, effectués par des personnes responsabilisées à la protection de la nature et au bien-être de la population locale ;<br>
        - aux activités à vocation touristique.
        </p>
        <h2>TITRE PREMIER :</h2>
        <h3>Des dispositions communes relatives aux conditions d’exercice des activités des entreprises, établissements et opérateurs touristiques</h3>
        <h4>I - DES PRINCIPES GENERAUX :</h4>
        <p>Article 2 : Toute activité touristique doit préserver l’environnement, promouvoir sa qualité et se conformer à la réglementation en vigueur y afférente notamment au texte relatif à la Mise en Compatibilité des Investissements avec l’Environnement (MECIE).</p>
        <p>Article 3 : Les entreprises touristiques doivent fournir toutes les pièces attestant leur régularité vis-à-vis de la réglementation des autres départements concernés par leurs activités.</p>
        <p>Article 4 : Toute cessation d’activité à vocation touristique doit faire l’objet d’une déclaration auprès du Ministère chargé du Tourisme.</p>
        <p>- L’original de toute autorisation ou licence obtenue doit être joint à la déclaration en vue de leur abrogation.</p>
        <p>Article 5 : Toute personne physique ou morale se livrant aux activités mentionnées à l’article premier doit justifier de l’emploi d’un personnel ayant les aptitudes professionnelles requises par le présent décret et ses textes d’application.</p>
        <p>Article 6 : Aucun opérateur touristique ne peut traiter, pour le secteur Tourisme, qu’avec des partenaires agréés.</p>
        <h4>II - DE L’AVIS PREALABLE :</h4>
        <p>Article 7 : Conformément à l’alinéa 3 de l’article 13 de la Loi portant Code du Tourisme, l’implantation des établissements :<br>
        1 - d’hébergement : hôtels, motels, relais, village de vacances, pension de famille, écolodges, terrain de camping.<br>
        2 - de restauration : restaurant, snack ou café, salon de thé est subordonnée à l’obtention d’un avis préalable du Ministre chargé du Tourisme ou de l’autorité à qui il délègue son pouvoir, selon le cas. Cet avis concerne les projets de construction, d’aménagement, et d’extension. La composition du dossier à constituer pour chaque activité est déterminée par voie d’arrêté.</p>
        <p>Article 8 : La délivrance du permis de construire par les autorités compétentes pour tous travaux afférents à toute activité touristique est subordonnée à l’avis préalable du Ministre chargé du Tourisme ou de l’autorité à qui il délègue son pouvoir.</p>
        <h4>III - DE L’AUTORISATION D’OUVERTURE</h4>
        <p>Article 9 : L’autorisation d’ouverture est l’acte permettant l’exploitation des entreprises touristiques. Pour les établissements d’hébergement et de restauration mentionnés à l’article 7, l’autorisation d’ouverture est subordonnée à la production de l’avis préalable précité. La composition de dossier de demande d’autorisation d’ouverture est fixée par voie d’arrêté. L’obtention de la carte professionnelle ne vaut en aucun cas autorisation d’ouverture.</p>
        <p>Article 10 : Toute personne physique ou morale qui exerce des activités touristiques sans avoir obtenu l’autorisation y afférente, est considérée comme étant en exercice illégal, et est poursuivie selon la réglementation en vigueur.</p>
        <article>
          <h1>Décret sur l'ouverture des entreprises touristiques</h1>
      
          <section>
              <h2>Article 11</h2>
              <p>L’ouverture de toute entreprise à vocation touristique est autorisée par décision du Ministre chargé du Tourisme après vérification obligatoire de la conformité des installations, des équipements et matériels d’exploitation, ainsi que de la qualification du personnel définies dans les dossiers de demande d’autorisation.</p>
              <p>La vérification de conformité doit se faire dans un délai de quarante-cinq (45) jours à compter de la date d’arrivée de la demande auprès de l’autorité compétente.</p>
              <p>En cas de conformité, la délivrance de l’autorisation d’ouverture doit se faire dans le délai de quarante-cinq (45) jours à compter de la date de vérification. L’absence de réponse dans ce délai vaut autorisation sauf cas de force majeure ou pour des raisons dûment justifiées.</p>
              <p>En cas de non conformité, l’Administration locale du Tourisme en avise l’opérateur qui renouvellera sa demande d’ouverture après régularisation des anomalies constatées.</p>
          </section>
      
          <section>
              <h2>Article 12</h2>
              <p>L’ouverture partielle est autorisée sous les conditions ci-après :</p>
              <ul>
                  <li>tous les services fonctionnent normalement ;</li>
                  <li>au moins la moitié des travaux prévus dans le dossier initial est achevée ;</li>
                  <li>les travaux en cours ne doivent pas gêner les clients ;</li>
                  <li>la réalisation de la totalité des travaux prévus initialement doit se faire dans un délai de six (6) mois à compter de la date de l’autorisation d’ouverture partielle. En cas de non achèvement des travaux dans ce délai, l’autorisation est retirée.</li>
              </ul>
          </section>
      
          <section>
              <h2>Article 13</h2>
              <p>L’autorisation d’ouverture est personnelle, non cessible et non transmissible.</p>
          </section>
      
          <section>
              <h2>Article 14</h2>
              <p>Dans le cas d’une location gérance, si le gérant bailleur décide de céder le fonds de commerce, il doit le déclarer au Ministère chargé du Tourisme. L’original de l’autorisation d’ouverture au nom du cédant ainsi que la pièce justifiant l’aptitude professionnelle du nouveau gérant doivent être joints à la déclaration.</p>
          </section>
      
          <section>
              <h2>Article 15</h2>
              <p>Dans le cas d’une gérance salariée, le propriétaire du fonds de commerce doit informer le Ministère chargé du Tourisme de tout changement de gérant et doit, en outre lui faire parvenir toute pièce justifiant l’aptitude professionnelle du nouveau gérant.</p>
          </section>
      
          <section>
              <h2>Article 16</h2>
              <p>Le propriétaire du fonds de commerce doit déclarer au Ministère chargé du Tourisme toute transformation de gérance quelle que soit la forme de cette dernière.</p>
          </section>
      
          <section>
              <h2>Article 17</h2>
              <p>Toute licence non encore exploitée n’est pas cessible.</p>
          </section>
      
          <section>
              <h2>Article 18</h2>
              <p>La cession de licence doit être déclarée auprès du Ministère chargé du Tourisme. L’original de l’autorisation d’exploiter doit être joint à la déclaration en vue de son abrogation. Le nouveau preneur doit déposer une nouvelle demande d’autorisation d’exploiter à son nom.</p>
          </section>
      
          <section>
              <h2>Article 19</h2>
              <p>Toute personne morale ou physique qui se livre aux opérations mentionnées à l’article premier est responsable de plein droit de la bonne exécution des obligations liées aux prestations même si celles-ci sont exécutées par d’autres prestataires, nonobstant son droit de recours contre ceux-ci.</p>
          </section>
      
          <section>
              <h2>Article 20</h2>
              <p>Tout opérateur touristique, quels que soient la nature et le mode de fonctionnement de ses activités, est soumis obligatoirement à la souscription d’assurance garantissant les conséquences pécuniaires et dommageables de la responsabilité civile professionnelle. Les Tours opérateurs, réceptifs et agences de voyages doivent en outre justifier d’une garantie financière dont le montant est défini par arrêté du Ministre chargé du Tourisme.</p>
              <p>Cette garantie résulte d’un engagement écrit de cautionnement pris :</p>
              <ol>
                  <li>Soit par un organisme de garantie collective doté de personnalité juridique, au moyen d’un fonds de garantie constitué à cet effet ;</li>
                  <li>Soit par un établissement de crédit ou une entreprise d’assurance habilité à donner une garantie financière ;</li>
                  <li>Soit par une association professionnelle disposant de garantie mutuelle, soit par un groupement d’associations ou d’organismes sans caractère lucratif ayant fait l’objet d’une autorisation particulière par arrêté du ministre chargé du tourisme et disposant d’un fonds de solidarité suffisant.</li>
              </ol>
              <p>Elle peut également résulter de l’existence d’un fonds de réserve suffisant.</p>
          </section>
      
          <section>
              <h2>Article 21</h2>
              <p>La garantie financière s’étend aux activités qui sont exercées par les entreprises secondaires telles que succursales, entreprises conventionnées.</p>
          </section>
      
          <section>
              <h2>Article 22</h2>
              <p>Toute entreprise touristique, à l’exception des établissements d’hébergement et de restauration, doit indiquer clairement dans ses documents contractuels les risques couverts au titre du contrat d’assurance responsabilité civile professionnelle et les garanties souscrites.</p>
    </section>
</article>
                  </div>
                
                </div>
              </div>
            </div>                 
            
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->

          
          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->


{% endblock %}