{% extends 'base.html.twig' %}

{% block title %}New Activite1{% endblock %}

{% block body %}
    <h1>Create new Activite1</h1>

    {{ include('activite1_crud/_form.html.twig') }}

    <a href="{{ path('app_activite1_crud_index') }}">back to list</a>
{% endblock %}
