<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Voulez-vous vraiment supprimer cet élément ?</h4>
                <p>Cette opération est irréversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">Annuler</span>
                </button>

                <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-delete-button" form="delete-form">
                    <span class="btn-label">Supprimer</span>
                </button>
            </div>
        </div>
    </div>
</div>
