{% extends 'baseMap.html.twig' %}

{% block title %}Carte de Madagascar{% endblock %}

{% block body %}
    <h1>Carte de Madagascar</h1>
    <div id="map" style="height: 500px;"></div>
{% endblock %}
