{# templates/bundles/EasyAdminBundle/crud/_header.html.twig #}
{% extends '@EasyAdmin/crud/_header.html.twig' %}

{% block search %}
    <div class="form-group">
        <div class="form-widget">
            <i class="fas fa-search content-search-icon"></i>
            <label class="content-search-label" data-value="">
                <input class="form-control is-blank" type="search" name="query" value="" placeholder="Recherche" spellcheck="false" autocorrect="off" oninput="this.parentNode.dataset.value=this.value">
            </label>
        </div>
    </div>
{% endblock %}
