<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">Mon demande</h4>
            <div class="d-flex ">
                <i data-feather="download"></i>
            </div>
        </div>
        <div class="card-body px-0 pb-0">
            <div class="table-responsive">
                <table class='table mb-0' id="table1">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Reference</th>
                            <th>Commentaire</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.user.email }}</td>
                                <td>{{ demande.reference }}</td>
                                <td>{{ demande.commentaire ?? 'Pas de commentaire' }}</td>
                                <td>
                                    <span class="badge bg-success">voir</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
