{% extends 'base.html.twig' %}

{% block title %}Edit ResultatDemande{% endblock %}

{% block body %}
    <h1>Edit ResultatDemande</h1>

    {{ include('resultat_demande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_resultat_demande_index') }}">back to list</a>

    {{ include('resultat_demande/_delete_form.html.twig') }}
{% endblock %}
