{% extends 'base.html.twig' %}

{% block title %}New ResultatDemande{% endblock %}

{% block body %}
    <h1>Create new ResultatDemande</h1>

    {{ include('resultat_demande/_form.html.twig') }}

    <a href="{{ path('app_resultat_demande_index') }}">back to list</a>
{% endblock %}
